<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="assets/images/sample-1.jpg" alt="image">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/sample-2.jpg" alt="image">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/sample-3.jpg" alt="image">
      </div>
  </div>
</div>
<button (click)="prev()">Prev</button>
<button (click)="next()">Next</button>